body {
  background-color: #f8f8f8;
}

/* Library container */
.book-library {
  background-color: #ffffff;
}

/* Book block */
.book {
  margin-bottom: 20px;
}

/* Author */
.author {
  color: #777777;
}

/* Price block */
.price {
  background-color: #2ecc71;
}
